---
import BackToTop from "@components/ui/BackToTop";
import Breadcrumbs from "@components/ui/Breadcrumbs";
import RoadmapFull from "@components/sections/RoadmapFull";
import BreadcrumbSchema from "@components/seo/BreadcrumbSchema.astro";
import Layout from "@layouts/Layout.astro";
import { roadmap } from "../config/roadmap";
import { siteConfig } from "../config";

const breadcrumbItems = [
  { name: "首页", url: "https://minibili.zhaohe.org/" },
  { name: "开发路线图", url: "https://minibili.zhaohe.org/roadmap/" }
];
---

<Layout
  title="MiniBili 开发路线图 - iOS哔哩哔哩第三方客户端功能规划"
  description="MiniBili 开发路线图 - 查看已完成、开发中和计划中的功能"
>
  <main class="min-h-screen max-w-3xl mx-auto px-4 py-8">
    <Breadcrumbs items={[{ label: "开发路线图" }]} />
    <RoadmapFull items={roadmap} client:load />
  </main>
  <BackToTop client:load />
</Layout>

<BreadcrumbSchema items={breadcrumbItems} />
